.header-container {
  margin-top: 50px;
  margin-bottom: 30px;

  h1 {
    margin: 0;
    padding: 0;
    line-height: 50px;
 }

  .row {
    div {
      line-height: 50px;
    }
  }
}

table.table-results {
  thead {
    border: 0;

    tr {
      border: 1px solid #a8a8a8;

      th {
        border: 0;
        padding: 15px;
      }
    }
  }

  tbody {
    tr {
      
      td {
        vertical-align: middle;
        border: 0;
        padding: 15px;
      }
    }
  }
}